<form action = "/projects/edit/<%= @project.id %>/volunteers/update/<%= @volunteer.id %>" method= "post">
  <input type ="text" name= "name">
  <button type ="submit">Update Volunteer</button>
</form>
